---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == blank %}{{ site.title }}{% else %}<span class="font-weight-bold">{{ site.first_name }}</span>
      {{ site.middle_name }} {{ site.last_name }}{% endif %}
    </h1>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}

      <img class="img-fluid z-depth-1 rounded-corners"
        src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
    {% include news.html %}
    {% endif %}

    {% if page.timeline %}
    <ul class="timeline">
      {% for exp in site.data.timeline.experiences %}
      <li>
        {% if exp.category == "work" %}
        <div class="direction-l">
          {% else %}
          <div class="direction-r">
            {% endif %}
            <div class="flag-wrapper">
              <span class="flag">{{ exp.place }}</span>
              <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
            </div>
            <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
          </div>
      </li>
      {% endfor %}
    </ul>
    {%endif%}

    {% if page.selected_papers %}
    {% include selected_papers.html %}
    {% endif %}
    <br>
    <br>
    <br>
    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>